# General
TZ=America/Fortaleza

# Load Balancer
LB_PROXY_HOST=0.0.0.0
LB_PROXY_PORT=8080
LB_INTERNAL_HOST=0.0.0.0
LB_INTERNAL_PORT=9090
LB_BUFFER_SIZE=4096
LB_BACKLOG=128

# Discovery
DISCOVERY_PROVIDER_STRATEGY=docker
DISCOVERY_TARGET_NETWORK_STRATEGY=published
DISCOVERY_POLL_INTERVAL_SECONDS=5
DISCOVERY_REQUEST_TIMEOUT_SECONDS=5
DISCOVERY_LB_RELOAD_URL=http://127.0.0.1:9090/reload
DISCOVERY_TARGET_DOCKER_LABEL=http-load-balancer.target
DISCOVERY_KUBERNETES_DEPLOYMENT_NAME=sample-app
DISCOVERY_KUBERNETES_DEPLOYMENT_APP_NAME=sample-app
DISCOVERY_KUBERNETES_NAMESPACE=default
